*, ::after, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

body {
  background-color: var(--primary-color-white);
  color: var(--basic-color);
  font-family: 'Roboto', sans-serif;
  /*font-style: normal;
    font-weight: normal;*/
  letter-spacing: 0.03em;
}

body.modal-open {
  overflow: hidden;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.button {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #FFFFFF;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  color: #FFFFFF;
}

.button .portfolio {
  padding: 0;
  background-color: #F5F4FA;
  color: #212121;
}

.button.portfolio:hover, .button.portfolio:focus {
  background-color: #2196F3;
  color: #FFFFFF;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

h1 {
  color: #FFFFFF;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

h3 {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

a {
  display: block;
}

.filter__elem {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  letter-spacing: 0.03em;
  line-height: 1.62;
}

.portfolio {
  background-color: #F5F4FA;
  color: #212121;
}

@media screen and (max-width: 767px) {
  .portfolio {
    margin-right: 8px;
    margin-bottom: 15px;
  }
}

.filter {
  text-align: center;
  margin-bottom: 50px;
}

@media screen and (max-width: 767px) {
  .filter-btns {
    text-align: left;
  }
}

.filter-item {
  position: relative;
}

@media screen and (max-width: 767px) {
  .filter-item .item {
    margin-bottom: 30px;
  }
}

.filter-item .item:hover .product::before,
.filter-item .item:hover .project-descr,
.filter-item .item:hover .card-content::after {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .filter-item .item {
    width: calc((100% - 60px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .filter-item .item:nth-child(2n) {
    margin-right: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .filter-item .item {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .filter-item .item:nth-child(3n) {
    margin-right: 0px;
  }
}

@media screen and (min-width: 768px) {
  .filter-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.card-content {
  position: relative;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-top: 20px;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  z-index: 10;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.card-content::after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
  opacity: 0;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project {
  margin-bottom: 4px;
  text-align: left;
  color: #212121;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.work {
  color: #757575;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
}

.product {
  position: relative;
  overflow: hidden;
}

.product::before {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-descr {
  color: #FFFFFF;
  font-size: 18px;
  line-height: 1.56;
  position: absolute;
  bottom: 0;
  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  padding-left: 24px;
  opacity: 0;
}
/*# sourceMappingURL=portfolio.css.map */