.backdrop.is-hidden {
    visibility: hidden;
    opacity: 1;
    pointer-events: none;
  }

  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    visibility: visible;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
      overflow-y: scroll;

    .form {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      
        padding: 40px;
      
        width: 528px;
        height: 581px;
        background-color: $primary-color-white;
        box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
          0px 1px 3px rgba(0, 0, 0, 0.12);
        border-radius: 4px;

        @media screen and (max-width: 1199px){
          width: 450px;
        }
      }

      .description {
        margin-bottom: 30px;
        margin-top: 0;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 1.15;
        text-align: center;
        letter-spacing: 0.03em;
        color: $basic-color;
      }

      .form-field:nth-child(-n + 4) {
        margin-bottom: 28px;
      }

      .form-input{
        background-color: #fff;
        width: 100%;
        height: 38px;
        padding-left: 42px;
      
        box-shadow: none;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
      
        &:focus {
            border: 1px solid $accent-color;
            outline: none;
          }
      }

      textarea {
        padding: 10px 20px;
        padding-left: 16px;
        font: inherit;
        position: relative;
        width: 100%;
        height: 120px;
        resize: none;
        box-shadow: none;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        outline: none;

        &:focus {
            border: 1px solid $accent-color;
          }
      }

      .checkbox {
       
       display: flex;
       justify-content: center;
        margin-bottom: 30px;
        align-items: center;
      
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: $text-color;
      }

    .checkbox-policy{
      @media screen and (max-width: 767px){
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.03em;
}
}
      .link{
        justify-content: flex-start;
      }

      .close {
        position: absolute;
        top: 8px;
        right: 8px;
        width: 30px;
        height: 30px;
        border: 0;
        border-radius: 50%;
        background: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.1);

        img{
            background-size: contain;
            margin: 0 auto;
          }
      }

      .button-submit {
        display: flex;
        justify-content: center;
      }

      .button {
        border: none;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        cursor: pointer;

        .send{
            background-color: $accent-color
            
          }
      }

      
  }

  .form-field{
    position: relative;
    font-size: 14px;
    line-height:1.14;
    letter-spacing: 0.01em;

    input::placeholder {
        color: #2a2a2a;
      }

      textarea::placeholder {
        color: #2a2a2a;
      }
}

.form-label{
    position: absolute;
    top: 50%;
    left: 42px;
    transform: translateY(-50%);
    transition: transform 250ms linear;

    .form-input:focus + &,
    .form-input:not(:placeholder-shown) + & {
        transform: translate(-23px, -40px);
    color: $accent-color;
    }

    .form-comment:focus-within + &,
  .form-comment:not(:placeholder-shown) + & {
  transform: translate(-15px, -40px);
  color: $accent-color;
}
}

.form-input{
    width: 100%;

    &:focus ~ .form-icon{
        fill: $accent-color;
    }
}

.form-icon{
    position: absolute;
    top: 50%;
    left: 19px;
    transform: translateY(-50%);
    display: inline-block;
    fill: $basic-color;
   
}

.comment {
    margin-bottom: 20px;
    height: 120px;

    .form-label {
        position: absolute;
        top: 18px;
        left: 16px;
        transition: transform 250ms linear;
      }
  }

  .checkbox-icon{
    margin-right: 8px;
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid $basic-color;
    border-radius: 4px;

    .checkbox-form:checked + & {
        border-color: $accent-color;
        background-color: $accent-color;
        background-image: url(../images/svg/full-check.svg);
        background-size: contain;
        background-origin: border-box;
    }
   }
 
   .checkbox {

    .link{
       display: inline-block;
       width: 100%;
       outline: 1px solid $basic-color;
    }

    input {
      
        // width: 15px;
        // height: 15px;
        padding: 0;
        // margin-right: 8px;
        outline: none;
      }
   }
 
   .checkbox-form{
     -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
   }

   .checkbox-link {
    display: inline;
    color: $accent-color;
    text-decoration: underline;
    margin-left: 4px;
  }
