h1{
    color: $primary-color-white;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

h2{
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    
    }

h3{
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}