$accent-color: #2196F3;
$basic-color: #212121;
$text-color: #757575;
$contacts-footer-color: rgba(255, 255, 255, 0.6);
$primary-color-white: #FFFFFF;
$bcg-color: #F5F4FA;
$footer-copiright: rgba(255, 255, 255, 0.4);
$icon-fill: #AFB1B8;
$wedo-background-color: rgba(47, 48, 58, 0.8);